<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="admu.csci.basketbolista">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity14_"></activity>
        <activity android:name=".MainActivity13_" />
        <activity android:name=".MainActivity12_" />
        <activity android:name=".MainActivity11_" />
        <activity android:name=".MainActivity10" />
        <activity android:name=".MainActivity9_" />
        <activity android:name=".MainActivity8_" />
        <activity android:name=".MainActivity7_" />
        <activity android:name=".MainActivity6_" />
        <activity android:name=".MainActivity5_" />
        <activity android:name=".MainActivity4_" />
        <activity android:name=".MainActivity3_" />
        <activity android:name=".MainActivity2_" />
        <activity android:name=".MainActivity_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>